@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


:root {
    --bars-color: #2C363F;
    --second-font-family: 'Roboto', sans-serif;
    --header-background-color: #395886;
    --main-font-family: 'Nanum Gothic', sans-serif;
    --hover-color: #c42b2b;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--header-background-color);
    font-family: var(--main-font-family);
    font-weight: 700;
    z-index: 1;
}

nav {
    
    background-color: var(--header-background-color);
    font-size: 1.3em;
    display: none;
    list-style: none;
    position: absolute;
    width: 250px;
    white-space: nowrap;
    z-index: 1;
    top: 0;
    right: 0;
}

nav ul {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.links {
    padding: 1.1em .50em;
    display: flex;
    background-color: var(--header-background-color);
}

.links a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-family: var(--second-font-family);
    margin: 0 1em;
    text-transform: uppercase;
    /* opacity: 0.75; */
    display: inline-block;
    position: relative;
    padding: 10px;
}

.links a:hover:not(.action) {
    opacity: 1 !important;
}

.links a:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    left: 50%;
    background-color: var(--hover-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.links a:hover:not(.action):after {
    width: 100%;
    left: 0;
}

.links .action {
    border-bottom: 3px solid var(--hover-color);
}

.menuBtn {
    display: flex;
    align-items: center;
    border: rgb(0, 0, 0) solid 2px;
    padding: 8px 10px;
    cursor: pointer;
}

.menuBtn .menu-text {
    font-size: 1.2em;
    color: var(--bars-color);
    font-family: var(--second-font-family);
    font-weight: 600;
}

.menuBtn .menu-icon {
    margin-right: 5px;
}

.menuBtn .menu-icon .bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: var(--bars-color);
    margin: 5px 0;
}

.menuBtn .menu-icon .cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.menuBtn .menu-icon .cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}

.open {
    margin: 0.75em;
    border-radius: 8px;
}

.header-section {
    width: 50%;
    padding: .20em;
    display: flex;
    align-items: center;
}

.header-section h2 {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.header-section img {
    width: 100%;
    max-width: 250px;
}
